{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 0.0,
    "longitude": 0.0,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Dev",
    "time_zone": "UTC",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}
